In [1]:
%%bash
pip install --upgrade duckdb
pip install --upgrade jupysql
pip install --upgrade duckdb-engine

Requirement already satisfied: duckdb in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (0.8.1)
Requirement already satisfied: jupysql in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (0.10.1)
Requirement already satisfied: prettytable in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (3.9.0)
Requirement already satisfied: ipython in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (8.15.0)
Requirement already satisfied: sqlalchemy in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (2.0.21)
Requirement already satisfied: sqlparse in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (0.4.4)
Requirement already satisfied: ipython-genutils>=0.1.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: sqlglot in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (18.6.0)
Requirement already satisfied: jinja2 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (3.1.2)
Requirement already satisfied: ploomber-core>=0.2.7 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jupysql) (0.2.14)
Requirement already satisfied: click in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (8.1.7)
Requirement already satisfied: pyyaml in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Requirement already satisfied: posthog in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ploomber-core>=0.2.7->jupysql) (3.0.2)
Requirement already satisfied: backcall in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (0.2.0)
Requirement already satisfied: decorator in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (0.19.0)
Requirement already satisfied: matplotlib-inline in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (0.1.6)
Requirement already satisfied: pickleshare in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (3.0.39)
Requirement already satisfied: pygments>=2.4.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (2.16.1)
Requirement already satisfied: stack-data in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (5.10.0)
Requirement already satisfied: pexpect>4.3 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from ipython->jupysql) (4.8.0)
Requirement already satisfied: MarkupSafe>=2.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: wcwidth in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from prettytable->jupysql) (0.2.6)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from sqlalchemy->jupysql) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from sqlalchemy->jupysql) (2.0.2)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from jedi>=0.16->ipython->jupysql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from pexpect>4.3->ipython->jupysql) (0.7.0)
Requirement already satisfied: requests<3.0,>=2.7 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.31.0)
Requirement already satisfied: six>=1.5 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: monotonic>=1.5 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: python-dateutil>2.1 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.8.2)
Requirement already satisfied: executing>=1.2.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from stack-data->ipython->jupysql) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from stack-data->ipython->jupysql) (2.4.0)
Requirement already satisfied: pure-eval in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from stack-data->ipython->jupysql) (0.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2023.7.22)
Requirement already satisfied: duckdb-engine in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (0.9.2)
Requirement already satisfied: duckdb>=0.4.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from duckdb-engine) (0.8.1)
Requirement already satisfied: sqlalchemy>=1.3.22 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from duckdb-engine) (2.0.21)
Requirement already satisfied: typing-extensions>=4.2.0 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (4.8.0)
Requirement already satisfied: greenlet!=0.4.17 in /home/marialejandramantillab/anaconda3/envs/dmef/lib/python3.11/site-packages (from sqlalchemy>=1.3.22->duckdb-engine) (2.0.2)

In [2]:
import duckdb
import pandas as pd

%load_ext sql
%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False

%sql duckdb:////home/marialejandramantillab/dmeyf.db

In [3]:
%%sql
create or replace table competencia_02 as
select
    *
from read_csv_auto('~/buckets/b1/datasets/competencia_02_crudo.csv.gz')

Empty DataFrame
Columns: [Success]
Index: []

In [4]:
%%sql
create or replace table targets as
with periodos as (
    select distinct foto_mes from competencia_02
), clientes as (
    select distinct numero_de_cliente from competencia_02
), todo as (
    select numero_de_cliente, foto_mes from clientes cross join periodos
), clase_ternaria as (
    select
        t.numero_de_cliente
        , t.foto_mes
        , if(c.numero_de_cliente is null, 0, 1) as mes_0
        , lead(mes_0, 1) over (partition by t.numero_de_cliente order by foto_mes) as mes_1
        , lead(mes_0, 2) over (partition by t.numero_de_cliente order by foto_mes) as mes_2
        , CASE
            WHEN mes_1 IS NOT NULL
                 AND mes_2 IS NOT NULL
            THEN 'CONTINUA'
            WHEN mes_1 IS NULL
            THEN 'BAJA+1'
            WHEN mes_1 IS NOT NULL
                 AND mes_2 IS NULL
            THEN 'BAJA+2'
        END as clase_ternaria 
    from todo t
    left join competencia_02 c using (numero_de_cliente, foto_mes)
) select
  foto_mes
  , numero_de_cliente
  , clase_ternaria
from clase_ternaria where mes_0 = 1

Empty DataFrame
Columns: [Success]
Index: []

In [5]:
%%sql
alter table competencia_02 add column clase_ternaria VARCHAR(10)

Empty DataFrame
Columns: [Success]
Index: []

In [6]:
%%sql
update competencia_02
set clase_ternaria = targets.clase_ternaria
from targets
where competencia_02.numero_de_cliente = targets.numero_de_cliente and competencia_02.foto_mes = targets.foto_mes;

Empty DataFrame
Columns: [Success]
Index: []

In [7]:
%%sql
copy competencia_02 to '~/buckets/b1/datasets/competencia_02.csv.gz' (FORMAT CSV, HEADER)

Empty DataFrame
Columns: [Success]
Index: []